/* Catch All */
img,
embed,
object,
video {
	max-width: 100%;
}

/* Media Queries */

/* Resizing text on viewports between 992 and 1200px */

@media (min-width: 992px) and (max-width: 1200px) {
	.about-text {
		font-size: 1.2em!important;
 }
}

/* Cutting my picture under 992px */

@media (max-width: 992px) {
	.about-element {
		display: none;
	}

	/* More responsive text and layout settings under 992 px */

	.about-text {
		font-size: 1.2em!important;
	}


	.about-text-heavy {
		font-size: 2.5em;
		letter-spacing: -0.0625em;
	}


	.img-responsive {
		margin: 0 auto;
	}


	.portfolio-link {
		text-align: center;
		margin-bottom: 3em;
	}

}

/* Fix for footer section on mobile devices */

@media (max-width: 768px) {

	.get-in-touch {
		text-align: center;
		min-height: 0!important;
		padding: 0;
	}

}

/* General fonts sizes and colors */

body {
	font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
}


a {
	color: #333;
	text-decoration: underline;
}


a:hover {
	color: #f08c35;
	text-decoration: underline;
}


a .fa, .glyphicon {
	color: #fef4ec;

}


h1 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 3.2em;
	margin-bottom: 0.1em;
	margin-top: 0.8em;
}


h3 {
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0.5em!important;
	font-weight: 100;
}


/* Header  */



.header {
	margin-top: 1em;
	margin-bottom: 2em;
}


.img-header {
	margin-top: 0.8em;
}

/* About */

.about-text-heavy {

	font-family: "merriweatherheavy", Georgia, Times, serif;
	font-size: 3em;
	letter-spacing: -0.04em;
}


.about-text {

	font-family: "merriweatherregular", Georgia, Times, serif;
	font-size: 1.4em;
	letter-spacing: -0.04em;
	padding: 1em;
}


.about-image {
	border: 1px solid #f08c35;
	margin-bottom: 2em;
	margin-left: 1px;
	margin-right: 1px;
	padding: 0!important;

}


.about-element {
	padding-left: 0;
	padding-right: 0;
}


/* Portfolio (Featured Work) */

.portfolio {
	margin-bottom: 3em;
}


.portfolio-items {
	margin-bottom: 1em;
	margin-top: 1em;
}


.text-modal {
	margin-top: 2em;
}


.portfolio-title {
	margin-top: 0.5em;

}


/* Even if in the Responsive Web Design Fundamentals Course it is stated that 48px
is the minimum required for mobile web buttons, I think it is a little too much for this specific case; therefore i set 0.4em as the "invisible" button dimensions */

.close-button {
	background-color: #fff;
	border: 0;
	color: #999;
	margin: 0.4em;
}


/* Footer */

.udacious-orange {
	background-color: #f08c35;
	vertical-align: middle;

}

/* Even if in the Responsive Web Design Fundamentals Course it is stated that 48px
is the minimum required for mobile web buttons, I think it is a little too much for this specific case; therefore i set 0.5 / 0.7 em as the "invisible" button dimensions */

.fa {
	margin: 0 0.7em 0.5em 0.7em;
}


.get-in-touch {
	margin-top: 3em;
	color: #fad6b7;
	min-height: 10em;
}


